.group {
    background-color: rgba(67, 67, 67, 255);
    border-left-color: rgba(233, 228, 43, 255);
    border-right-color: rgba(233, 228, 43, 255);
    border-top-color: rgba(233, 228, 43, 255);
    border-bottom-color: rgba(233, 228, 43, 255);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#titleLabel {
    background-color: rgba(233, 228, 43, 255);
    -unity-font-style: bold;
    color: rgba(29, 29, 29, 255);
    font-size: 48px;
    height: 70px;
}
